[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bcrypt = "==4.3.0"
blinker = "==1.8.2"
certifi = "==2025.8.3"
click = "==8.1.8"
distlib = "==0.4.0"
filelock = "==3.16.1"
flask = "==3.0.3"
flask-jwt-extended = "==4.6.0"
importlib-metadata = "==8.5.0"
itsdangerous = "==2.2.0"
jinja2 = "==3.1.6"
markupsafe = "==2.1.5"
packaging = "==25.0"
platformdirs = "==4.3.6"
pyjwt = "==2.9.0"
typing-extensions = "==4.13.2"
virtualenv = "==20.34.0"
werkzeug = "==3.0.6"
zipp = "==3.20.2"
flask-sqlalchemy = "*"
flask-bcrypt = "*"
psycopg2-binary = "*"
flask-cors = "*"
requests = "*"
transformers = {extras = ["torch"], version = "*"}
huggingface-hub = {extras = ["inference"], version = "*"}
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"
